
<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <td>follows</td>
      <td><%= user.followings.count %></td>
    </tr>
    <tr>
      <td>followers</td>
      <td><%= user.followers.count %></td>
    </tr>
  </tbody>
</table>

<div class="row mb-2">
  <% unless current_user == user %>
    <% if current_user.following?(user) %>
      <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
        <%= hidden_field_tag :follow_id, user.id %>
        <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
      <% end %>
    <% else %>
      <%= form_for(current_user.relationships.build) do |f| %>
        <%= hidden_field_tag :follow_id, user.id %>
        <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
      <% end %>
    <% end %>
  <% end %> 
</div>

<div class="row">
  <%= link_to "", edit_user_path(user.id), class:"btn btn-outline-secondary btn-block fas fa-user-cog" %>
</div>

<h3>New book</h3> 
<%= form_with model: book, local: true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title, class:"form-control" %>
  <h4>Opinion</h4>
  <%= f.text_area :body, class:"form-control", rows:"3" %>
  <%= f.submit 'Create Book', class:"btn btn-lg btn-block btn-info mt-4" %>
<% end %>
  
  
  
