<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= form_with model: @book, local: true do |f| %>
        <h2>New book</h2>
        <h4>Title</h4>
        <%= f.text_field :title %>
        <h4>Opinion</h4>
        <%= f.text_field :body %>
        <%= f.submit 'Create Book' %>
      <% end %>
    </div>

    <div class="col-lg-8">
      <h2>Books</h2>
      <table class="table table-striped">
        <thread>
          <tr>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thread>

        <tboby>
          <% @books.each do |book| %>
            <tr>
              <td><%= book.title %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tboby>
      </table>
    </div>
  </div>
</div>





 