<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/left-bar', user: @user, book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>
                  <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %>
                  <%= @user.name %>
                </td>
                <td><%= @book.title %></td>
                <td><%= @book.body %></td>
                <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success" %></td>
                <td><%= link_to "Destroy", delete_path(@book.id), </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>



　

  

            <td><a class="btn btn-sm btn-success edit_book_3469" href="/books/3469/edit">Edit</a></td>
            <td><a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy_book_3469" rel="nofollow" data-method="delete" href="/books/3469">Destroy</a></td>
        </tr>
      </tbody></table>
    </div>
  </div>
</div>
      </main>