<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/left-bar', user: @book.user, book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag @book.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %><br>
              <%= link_to @book.user.name, user_path(@book.user.id) %>
            </td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <td id="favorite-btn-<%= @book.id %>">
              <%= render partial: 'favorites/favorite', locals: {book: @book} %>
            </td>
            <td>コメント数：<%= @book.book_comments.count %></td>
            <% if @book.user.id == current_user.id %>
              <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-danger" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <div id="comments_area">
        <%= render partial: 'book_comments/index', locals: {book: @book} %>
      </div>

      <div class="new-comment">
        <%= form_with(model:[@book, @book_comment], remote: true) do |f| %>
          <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに記入", class: "form-control mt-3" %>
          <%= f.submit "送信する", class: "mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>







