<% if @model == 'user' %>
  <h2>Users search for<span>"<%= @content %>"</span></h2>
  <% @records.each do |user| %>
    <table class="table">
      <thread>
        <tr>
          <th>image</th>
          <th>name</th>
        </tr>
      </thread>
      <tbody>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %></td>
          <td><%= link_to user.name, user_path(user) %></td>
        </tr>
      </tbody>
    </table>

  <% end %>
<% else @model == 'book' %>
  <h2>Books search for<span>"<%= @content %>"</span></h2>
  <table class="table">
    <thread>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thread>
    <% @records.each do |book| %>
    <tbody>
      <tr>
        <td>
          <%= attachment_image_tag book.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %>
        </td>
        <td><%= link_to book.title, book_path(book.id) %></td>
        <td><%= book.body %></td>
      </tr>
    </tbody>
    <% end %>
  </table>

<% end %>